@import "tailwindcss";

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-900: #1e3a8a;
  
  --color-dark-800: #1f2937;
  --color-dark-900: #111827;
  --color-dark-950: #030712;
}

body {
  background-color: var(--color-dark-950);
  color: white;
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar for Terminals */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-dark-900);
}
::-webkit-scrollbar-thumb {
  background: var(--color-dark-800);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-950);
}
